<html>
    <head>
        <style>
            .col{
                display: inline-block;
            }
            .error{
                color:red;
            }
        </style>
    </head>
    <body>
        <h1>Editing pigeon #<%= pigeon._id %></h1>
        <% if(typeof(errors) != 'undefined' ) { %>
            <% for (var x in errors) { %>
             <h3 class="error"><%= errors[x].message %></h3>
            <% } %>
        <% } %>
        <form action="/pigeons/edit/<%= pigeon._id %>" method="post">
            <label for="name" class="col">Name:</label>
            <input type="text" name="name" value="<%= pigeon.name %>" class="col"/>
            <label for="weight" class="col">Weight:</label>
            <input type="number" name="weight" value="<%= pigeon.weight %>" class="col"/>
            <input type="submit" value="Save pigeon" />
        </form>
    </body>
</html>